:root {
  --bg: var(--gray-1);
  --bg-subtle: var(--gray-2);
  --selection: var(--gray-a2);
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: var(--font-inter, Inter), sans-serif;
  --radius-none: 0px;
  --radius-small: 6px;
  --radius-medium: 10px;
  --radius-large: 12px;
  --radius-full: 9999px;
}

:root {
  font-family: var(--font-sans);
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  color: var(--gray-12);
}

html {
  scrollbar-color: var(--gray-a4) transparent;
  background: var(--gray-1);
}

code {
  font-family: var(--font-mono);
}
