@import "@audio-kit/ui/styles/colors.css";
@import "@audio-kit/ui/styles/reset.css";
@import "@audio-kit/ui/styles/tokens.css";
@import "@audio-kit/ui/styles/shadows.css";

:root {
  --body-width: 800px;
  --page-top: 48px;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: var(--font-sans);
  }
}

html {
  scrollbar-gutter: stable;
  overscroll-behavior-y: none;
  scrollbar-width: thin;
}
