.layout {
  display: flex;
  max-width: var(--body-width);
  min-height: 100dvh;
  padding-inline: 48px;
  margin: 0 auto;
}

.main {
  flex: 1;
  min-width: 0;
}

@media (width <= 768px) {
  .layout {
    display: block;
  }
}
