.layout {
  display: flex;
  max-width: var(--layout-width);
  min-height: 100dvh;
  padding: 0 var(--page-padding);
  margin: 0 auto;
}

.layout::before,
.layout::after {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
  height: var(--fade-size);
  pointer-events: none;
  content: "";
}

.layout::before {
  top: var(--page-top);
  background: linear-gradient(to bottom, var(--ds-gray-1), transparent);
}

.layout::after {
  bottom: 0;
  background: linear-gradient(to top, var(--ds-gray-1), transparent);
}

.main {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 100dvh;
}
