.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  padding: 12px 16px;
  color: inherit;
  text-decoration: none;
  background-color: var(--ds-gray-a2);
  border-radius: var(--radius-medium);
  transition: background 0.15s;
}

.card:hover {
  background: var(--ds-gray-a3);
}

.icon {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon :global(svg) {
  width: 32px;
  height: 32px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.titleRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  color: var(--ds-gray-12);
  text-decoration: none;
  @typography 14, 550;
}

.tag {
  padding: 2px 8px;
  color: var(--ds-gray-10);
  background: var(--ds-gray-a3);
  border-radius: var(--radius-small);
  @typography 14, 500;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  color: var(--ds-gray-9);
  text-decoration: none;
  @typography 14;
}

.external {
  flex-shrink: 0;
  margin-left: auto;
  color: var(--ds-gray-8);
}
