.toc {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  width: var(--table-of-contents-width);
  height: 100dvh;

  padding-top: calc(var(--page-top) + var(--fade-size));
  overflow-y: auto;
}

.label {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-left: 12px;
  margin-bottom: 12px;
  color: var(--gray-11);
  @typography 12, 500;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.indicator {
  position: absolute;
  inset-inline: 0;
  z-index: -1;
  pointer-events: none;
  background: var(--gray-a2);
  border-radius: var(--radius-small);
  opacity: 0;
  transition:
    top 0.15s ease,
    height 0.15s ease,
    opacity 0.15s ease;
}

.link {
  display: block;
  padding-block: 6px;
  color: var(--gray-9);
  border-radius: var(--radius-small);
  transition: color 0.15s;
  @typography 12;
}

.link:hover {
  color: var(--gray-12);
}

.link[data-active] {
  color: var(--gray-12);
  @typography 12, 550;
}

@media (width <= 768px) {
  .toc {
    display: none;
  }
}
