.layout {
  display: flex;
  justify-content: center;
  max-width: var(--layout-width);
  min-height: 100dvh;
  padding: 0 var(--page-padding);
  margin: 0 auto;
}

.layout::before,
.layout::after {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
  height: var(--fade-size);
  pointer-events: none;
  content: "";
}

.layout::before {
  top: var(--page-top);
  background: linear-gradient(to bottom, var(--gray-1), transparent);
}

.layout::after {
  bottom: 0;
  background: linear-gradient(to top, var(--gray-1), transparent);
}

.content {
  width: 100%;
  max-width: var(--body-width);
  min-width: 0;
  padding: calc(var(--page-top) + var(--fade-size)) 40px 80px;
}

@media (width <= 768px) {
  .content {
    padding: calc(var(--page-top) + var(--fade-size)) 16px 60px;
  }
}
