.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  color: var(--ds-gray-10);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: var(--radius-small);
  transition:
    color 0.15s,
    background 0.15s;
}

.toggle:hover {
  color: var(--ds-gray-12);
  background: var(--ds-gray-a3);
}
