.steps {
  margin: 24px 0;
  counter-reset: step;
}

.step {
  display: grid;
  grid-template-columns: 40px 1fr;
  counter-increment: step;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  color: var(--gray-11);
  background: var(--gray-a3);
  border-radius: 50%;
  @typography 13, 500;
}

.number::before {
  content: counter(step);
}

.line {
  flex: 1;
  width: 1px;
  background: var(--gray-a4);
}

.step:last-child .line {
  display: none;
}

.content {
  padding-bottom: 32px;
  padding-left: 16px;
}

.step:last-child .content {
  padding-bottom: 0;
}

.content h2 {
  display: flex;
  align-items: center;
  min-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--gray-12);
}
